{% extends "base.html" %}

{% from 'macros.html' import data_table %} 

{% block title %}
    View Reservations
{% endblock %}

{% block content %}
  <h1 align="center"> Reservations history</h1>

  <div class="row justify-content-center">
    <div class="col-auto">
      <table class="table table-hover">
        <thead>
          <tr>
            {% for header in headings %}
              <th scope="col"> {{ header }} </th>
            {% endfor %}
          </tr>
        </thead>
      
        <tbody>
          {% for row in data %}
            <tr>
              {% for cell in row %}
                <td> {{ cell }} </td>
              {% endfor %}
              <td>
                <a href="/room-profile/{{ row[0] }}">
                  <button type="button" class="btn btn-primary">Edit Room</button>
                </a>
              </td>
              <td>
                <a href="/client-profile/{{ row[0] }}">
                  <button type="button" class="btn btn-primary">Edit Client</button>
                </a>
              </td>
              <td>
                <a href="/{{ row[0] }}">
                  <button type="button" class="btn btn-primary">Edit Reservation</button>
                </a>
              </td>
              <td>
                <a href="/{{ row[0] }}">
                  <button type="button" class="btn btn-danger">Delete Reservation</button>
                </a>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}