{% extends "base.html" %} {% block title %} Add a Client {% endblock %} {% block
content %}

<h1 align="center">Add a client</h1>

<form class="row g-3 needs-validation" novalidate method="post">
  <!-- Client Name -->
  <div class="col-md-6">
    <label for="inputName" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="inputName"
      name="client_name"
      placeholder="Popescu"
      required
    />
    <div class="invalid-feedback">
      Please enter a valid Name!
    </div>
  </div>

  <!-- Client Surname -->
  <div class="col-md-6">
    <label for="inputSurname" class="form-label">Surname</label>
    <input
      type="text"
      class="form-control"
      id="inputSurname"
      name="client_surname"
      placeholder="Ion"
      required
    />
    <div class="invalid-feedback">
      Please enter a valid Surname!
    </div>
  </div>

  <!-- Client Adress -->
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      name="client_adress"
      placeholder="1234 Main St"
      required
    />
    <div class="invalid-feedback">
      Please enter a valid adress!
    </div>
  </div>

  <!-- Client Date Of Birth-->
  <div class="col-12">
    <label for="inputDoB" class="form-label">Date of Birth</label>
    <input
      type="text"
      class="form-control"
      id="inputDoB"
      name="client_birthday"
      placeholder="12/02/2021"
      required
    />
    <div class="invalid-feedback">
      Please enter the clien't birthday!
    </div>
  </div>

  <!-- Client CNP-->
  <div class="col-12">
    <label for="inputCNP" class="form-label">Social Security Number</label>
    <input
      type="number"
      class="form-control"
      id="inputCNP"
      name="client_cnp"
      placeholder="6211201018187"
      required
    />
    <div class="invalid-feedback">
      Please enter a valid CNP!
    </div>
  </div>

  <!-- Client Email Adress-->
  <div class="col-12">
    <label for="inputEmail" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      name="client_email"
      placeholder="popescu.ion@gmail.com"
      required
    />
    <div class="invalid-feedback">
      Please enter a valid email adress!
    </div>
  </div>

  <!-- Client Phone Number-->
  <div class="col-12">
    <label for="inputPhoneNumber" class="form-label">Phone Number</label>
    <input
      type="number"
      class="form-control"
      id="inputPhoneNumber"
      name="client_phone"
      placeholder="0714151618"
      required
    />
    <div class="invalid-feedback">
      Please enter a valid phone number!
    </div>
  </div>

  <div class="col-12">
    <label for="inputPicture" class="form-label">Profile Picture</label>
    <input
      class="form-control"
      type="file"
      id="inputPicture"
      name="client_picture"
    />
  </div>

  <!-- Add the new Client Button -->
  <div class="col-12">
    <button type="submit" class="btn btn-primary mx-auto d-block">
      Add the new client
    </button>
  </div>

  <script>
    $("#inputDoB").datepicker({
      uiLibrary: "bootstrap4",
    });
  </script>

  <script src="../static/form_validation.js"> </script>

</form>

{% endblock %}
