{% extends "base.html" %} 

{% from 'macros.html' import data_combo_box %} 

{% block title %} 
  Insert a Room 
{% endblock %} 

{%block content %}

<form method="post" class="needs-validation" novalidate >
  <h1 align="center">Add a room</h1>

  <!-- Room Number -->

  <div class="row mb-3">
    <label for="roomNumber" class="col-sm-2 col-form-label">Room Number</label>
    <div class="col-sm-10">
      <input
        type="number"
        class="form-control"
        id="roomNumber"
        name="room_number"
        required
      />
      <div class="invalid-feedback">
        Please enter the room's number!
      </div>
    </div>
  </div>

  <!-- Room's Price per night -->

  <div class="row mb-3">
    <label for="inputPrice" class="col-sm-2 col-form-label"
      >Price per night</label
    >
    <div class="col-sm-10">
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input
          type="number"
          class="form-control"
          id="inputPrice"
          name="room_price"
          required
        />
        <span class="input-group-text">.00</span>
        <div class="invalid-feedback">
          Please enter the room's price per night!
        </div>
      </div>
    </div>
  </div>
 
  <!-- Floor Combo Box -->

  {{ data_combo_box(floor_combo_label_text, floor_combo_name, floor_combo_data, floor_selected_option) }}

  <!-- Room Type Combo Box -->
  
  {{ data_combo_box(type_combo_label_text, type_combo_name, type_combo_data, type_selected_option) }}
    
  <!-- Som space between controls-->
  
  <h1></h1>

  <!-- Smoking allowed checkbok -->
  
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="smokingCheck"
          name="room_smoking"
        />
        <label class="form-check-label" for="smokingCheck">
          Smoking Allowed
        </label>
      </div>
    </div>
  </div>

  <!-- "Add the new room" Button -->
  
  <button type="submit" class="btn btn-primary mx-auto d-block" name="submit">
    Add the new room
  </button>
</form>

<script src="../static/form_validation.js"> </script>

{% endblock %}
