{% macro heading_row(headings) %}
<thead>
  <tr>
    {% for header in headings %}
    <th scope="col">{{ header }}</th>
    {% endfor %}
  </tr>
</thead>

{% endmacro%} 

<!-- Table Row Macro -->
{% macro data_rows(data, view_redirect_page, delete_redirect_page) %}
<tbody>
  <!-- Generate each row according to the data sent -->
  {% for row in data %}
  <tr>
    {% for cell in row %}
    <td>{{ cell }}</td>
    {% endfor %}
    <!-- At the end of a row add 2 buttons: view record data & delete record data -->
    <td>
      <a href="{{ view_redirect_page }}/{{ row[0] }}">
        <button type="button" class="btn btn-primary">Edit</button>
      </a>
    </td>
    <td>
      <a href="{{ delete_redirect_page }}/{{ row[0] }}">
        <button type="button" class="btn btn-danger">Delete</button>
      </a>
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endmacro%} 

<!-- Data table macro -->
{% macro data_table(headings, data, view_redirect_page, delete_redirect_page) %}
<table class="table table-hover">
  <!-- Headings -->
  {{ heading_row(headings) }} 
  <!-- Rows -->
  {{ data_rows(data, view_redirect_page, delete_redirect_page) }}
</table>
{% endmacro %}

<!-- ComboBox Macro -->
{% macro data_combo_box(label_text, control_name, control_data, selected_option) %}
<div class="row mb-3">
    <label for="inputClient" class="col-sm-2 col-form-label">{{label_text}}</label>
    <div class="col-sm-10">
      <select
        class="form-select"
        aria-label="Default select example"
        name = {{ control_name }}
        required
      >
      <!-- If no option is selected -->
       {% if selected_option < 0 %}
          <option selected disabled value="">Select ...</option>
       {% endif %}
        {% for row in control_data %}
          <!-- Check if this option is selected -->
          {% if selected_option == row[0] %}
            <option value = {{ row[0] }} selected>
          {% else %}
            <option value = {{ row[0] }}>
          {% endif %}
            <!-- If the row contains 3 cells, we have a client ComboBox (id, name, surname) -->
            <!-- and we have to build the display string accordingly -->
            <!-- Else, we have a room ComboBox (id, room_number) --> 
            {% if row|length > 2 %}
              {{ row[1] + " " + row[2]}}
            {% else %}
              {{ row[1] }}
            {% endif%}
          </option>
        {% endfor %}
      </select>
      <div class="invalid-feedback">
        Please enter a valid input!
      </div>
    </div>
  </div>
{% endmacro %}