{% from 'macros.html' import data_combo_box %} 
{% extends "base.html" %} {% block title %} Make a Reservation {% endblock %} {%
block content %}

<h1 align="center">Make a new reservation</h1>

<form class="row g-3" method="post">
  <h1></h1>
  <!-- Room ComboBox -->
  {{ data_combo_box(rooms_combo_label_text, rooms_combo_name, rooms_combo_data, rooms_selected_option) }}

  <!-- Clients ComboBox -->
  {{ data_combo_box(clients_combo_label_text, clients_combo_name, clients_combo_data, clients_selected_option) }}

  <!-- Start Date-->
  <div class="row mb-3">
    <label for="inputDoB" class="col-sm-2 col-form-label">Start Date</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="inputStartDate"
        placeholder="12/02/2021"
        name="start_date"
      />
    </div>
  </div>

  <!-- End Date-->
  <div class="row mb-3">
    <label for="inputDoB" class="col-sm-2 col-form-label">End Date</label>
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        id="inputEndDate"
        placeholder="12/02/2021"
        name="end_date"
      />
    </div>
  </div>

  <!-- Additional Options Checboxes -->
  <div class="col-12">
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Additional Options</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="parkingCheck"
            name="parking_included"
          />
          <label class="form-check-label" for="parkingCheck">
            Parking Spot
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="breakfastCheck"
            name="breakfast_included"
          />
          <label class="form-check-label" for="breakfastCheck">
            Breakfast Included
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="lunchCheck"
            name="lunch_included"
          />
          <label class="form-check-label" for="lunchCheck">
            Lunch Included
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- Add the new Client Button -->
  <div class="col-12">
    <button type="submit" class="btn btn-primary mx-auto d-block">
      Add the new reservation
    </button>
  </div>
</form>

<script>
  $("#inputStartDate").datepicker({
    uiLibrary: "bootstrap4",
  });
</script>

<script>
  $("#inputEndDate").datepicker({
    uiLibrary: "bootstrap4",
  });
</script>

{% endblock %}
